/*
Project Name: Parazit
Description: Final project for 3WA.
Author: Andrius Busilas
*/


/* ==========================================================================
   Global Styles
   ========================================================================== */
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Lora:400,400italic,700,700italic);

.container {
  width: 100%;
  max-width: 1200px;
}

body {
  background: #201d21;
}

h1, .h1, h2, .h2, h4, .h4, h5, .h5, a, .btn, #main-nav ul li a, ul.home-sub-nav li a, ul.footer-sub-nav li a, .side-border, .news-box, form, .datepicker, .form-control, #event-modal .item-title {
  font-family: 'Montserrat', sans-serif;
}

h3, .h3, body, p, .p, ul, li, .copyright {
  font-family: 'Lora', serif;
}

.h1, .h2, .h3, h1, h2, h3, h4, .h4, .h5, h5 {
    margin-bottom: 5px;
    margin-top: 5px;
}

h1, .h1 {
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 10px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}


h2, .h2 {
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 12px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

h3, .h3 {
  font-size: 23px;
  line-height: 26px;
  letter-spacing: 0px;
  font-weight: normal;
  color: #ffffff;
  font-style: italic;
}

h4, .h4 {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 8px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

h5, .h5 {
  font-size: 11px;
  line-height: 20px;
  letter-spacing: 4px;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
}

p, .p {
  font-size: 14px;
  line-height: 30px;
  letter-spacing: normal;
  font-weight: 400;
  color: #ffffff;
}

ul {
  margin-bottom: 0px;
}

hr {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: #ffffff -moz-use-text-color -moz-use-text-color;
  border-image: none;
  background-color: #ffffff;
  height: 1px;
  border-style: none none none;
  border-width: 1px 0 0;
  margin-bottom: 20px;
  margin-top: 10px;
  width: 25px;
  margin-left: 0;
}


/*----------------Buttons-----------------*/
.btn {
  text-transform: uppercase;
  letter-spacing: 1.5px;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px;
  -o-border-radius: 0px;
  font-weight: 700;
}

.btn-lg {
  font-size: 11px;
  line-height: 1.33;
  padding: 15px 28px;
}

.btn-sm {
  font-size: 10px;
  line-height: 1.33;
  padding: 14px 28px;
}

.btn-xs {
  font-size: 10px;
  line-height: 1.33;
  padding: 8px 18px;
}

.btn-wide {
  width: 100%;
}

.btn-primary {
  border: 2px solid;
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary.focus, .btn-primary:focus {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-primary:hover {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #201d21;
}
.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
  background-color: #ffb636;
  border-color: transparent;
  color: #ffffff;
}

.btn-white {
  border: 2px solid;
  background-color: #ffffff;
  border-color: #ffffff;
  color: #201d21;
}

.btn-white:active, .btn-white:focus, .btn-white:hover {
  background-color: transparent;
  border-color: #ffffff;
  color: #fff;
}

.btn-link {
  color: white;
}

/*----------------Utilities-----------------*/
p a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: inherit;
  text-transform: inherit;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a:hover, a:focus, a:active {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
  outline: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}


/*---------------Margins------------------*/
.margin-0 {
    margin-bottom: 0 !important;
}
.margin-10 {
    margin-bottom: 10px !important;
}
.margin-15 {
    margin-bottom: 15px !important;
}
.margin-20 {
    margin-bottom: 20px !important;
}
.margin-30 {
    margin-bottom: 30px !important;
}
.margin-40 {
    margin-bottom: 40px !important;
}
.margin-50 {
    margin-bottom: 50px !important;
}
.margin-60 {
    margin-bottom: 60px !important;
}
.margin-70 {
    margin-bottom: 70px !important;
}
.margin-80 {
    margin-bottom: 80px !important;
}
.margin-90 {
    margin-bottom: 90px !important;
}
.margin-100 {
    margin-bottom: 100px !important;
}

/*----------------Colors-----------------*/
.black {
  color: #201d21;
}

.dark-gray {
  color: #282529;
}

.gray {
  color: #7e7d7f;
}

.light-gray {
  color: #a6a1a9;
}

.white {
  color: #ffffff;
}

.gold {
  color: #ccbfab;
}

.red {
  color: #d43748;
}

.black-bg {
  background: #201d21;
}

.dark-gray-bg {
  background: #282529;
}

.gray-bg {
  background: #7e7d7f;
}

.light-gray-bg {
  background: #a6a1a9;
}

.white-bg {
  background: #ffffff;
}

/* ==========================================================================
   Main Styles
   ========================================================================== */
.full .col-xs-1, .full .col-sm-1, .full .col-md-1, .full .col-lg-1, .full .col-xs-2, .full .col-sm-2, .full .col-md-2, .full .col-lg-2, .full .col-xs-3, .full .col-sm-3, .full .col-md-3, .full .col-lg-3, .full .col-xs-4, .full .col-sm-4, .full .col-md-4, .full .col-lg-4, .full .col-xs-5, .full .col-sm-5, .full .col-md-5, .full .col-lg-5, .full .col-xs-6, .full .col-sm-6, .full .col-md-6, .full .col-lg-6, .full .col-xs-7, .full .col-sm-7, .full .col-md-7, .full .col-lg-7, .full .col-xs-8, .full .col-sm-8, .full .col-md-8, .full .col-lg-8, .full .col-xs-9, .full .col-sm-9, .full .col-md-9, .full .col-lg-9, .full .col-xs-10, .full .col-sm-10, .full .col-md-10, .full .col-lg-10, .full .col-xs-11, .full .col-sm-11, .full .col-md-11, .full .col-lg-11, .full .col-xs-12, .full .col-sm-12, .full .col-md-12, .full .col-lg-12 {
  min-height: 1px;
  padding-left: 0px;
  padding-right: 0px;
  position: relative;
}

.pad-sm {
  padding: 30px 0px;
}

.pad-md {
  padding: 60px 0px;
}

.pad-lg {
  padding: 90px 0px;
}

.box-content {
  padding: 2em 4em 0em;
}

.gray p {
  color: #7e7d7f;
}

.bg-img {
  height: 100vh;
  max-width: 1500px;
  min-height: 650px;
  max-height: 80%;
  width: 100%;
  position: absolute;
  margin: 75px auto;
  right: 0;
  left: 0;
  top: 0;
  z-index: -1;
}

.bg-img-overlay {
  height: 100vh;
  max-width: 1500px;
  min-height: 650px;
  max-height: 80%;
  width: 100%;
  position: absolute;
  margin: 75px auto;
  z-index: -1;
  right: 0;
  left: 0;
  top: 0;
  background: -moz-linear-gradient(top, rgba(32,29,33,0.2) 10%, rgba(32,29,33,0.8) 71%, rgba(32,29,33,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(32,29,33,0.2) 10%,rgba(32,29,33,0.8) 71%,rgba(32,29,33,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(32,29,33,0.2) 10%,rgba(32,29,33,0.8) 71%,rgba(32,29,33,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00201d21', endColorstr='#201d21',GradientType=0 ); /* IE6-9 */
}

.top-section {
  margin-top: 65px;
  padding-bottom: 80px;
  padding-top: 20px;
}

.logo-main {
  background: url(images/parazit-logo.png) no-repeat;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  max-height: 630px;
  max-width: 194px;
  z-index: -1;
}

/*---------------Video ------------------*/
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('images/poster.png') center center / cover no-repeat;
  }
}

/* ==========================================================================
   Navigations Styles
   ========================================================================== */
.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav > li > a:focus, .nav > li > a:hover {
    background-color: #fff;
    color: #000;
    text-decoration: none;
}

.icon-bar {
  color: #fff;
  border-color: #fff;
  background-color: #fff;
}

/*------------------Footer-----------------*/
footer {
  background: #2a272b none repeat scroll 0 0;
  box-shadow: -10px 5px 50px rgba(0, 0, 0, 0.70);
  bottom: 0;
  margin: auto;
  position: fixed;
  width: 100%;
  z-index: 900;
}

.footer-pad {
  padding-top: 15px;
  padding-bottom: 15px;
}

.copyright {
  font-size: 12px;
  font-style: italic;
  margin: 0;
  line-height: 20px;
  text-align: center;
}

/* ==========================================================================
   Home Styles
   ========================================================================== */
.home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 70vh;
  width: 100%;
   
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex; /* Safari */
  -webkit-align-items: center; /* Safari 7.0+ */
}

.background-mobile {
  position: absolute;
  width: 100%;
  height: 100vh;
}

/*------------------Main Logo-----------------*/
.logo-main {
  width: 630px;
  height: 193.5531914893617px;
  background-image: url(images/parazit-logo.png);
  background-repeat: no-repeat;
}

/*------------------Small Logo-----------------*/
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
 }

/* ==========================================================================
   Form Styles
   ========================================================================== */
.form-control {
  background-color: #3c3a3d;
  background-image: none;
  border: 1px solid #3c3a3d;
  border-radius: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.015) inset;
  color: #ffffff;
  display: block;
  font-size: 14px;
  height: 45px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}

.form-horizontal {
  color: #ffffff; 
}

.form-control:focus {
  border-color: transparent;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.045) inset, 0 0 8px rgba(255, 255, 255, 0.3);
  outline: 0 none;
}

.table {
  padding: 6px 12px;
  margin: 20px 0px;
  width: 100%;
}

.panel-default {
  background-color: #333;
  border-radius: 0px;
  border-color: #333;
  color: #ffffff;
}

.panel-body {
  background: #333;
}

.list-group-item {
  background-color: #333;
  border: 0px solid #333;
}

.badge {
  font-size: 14px;
  color: #fff;
  background-color: #333;
  border-radius: 0px;
}

.panel-footer {
  background: #333;
  text-align: right; 
}


/* ==========================================================================
   Menu styles
   ========================================================================== */
#Container .mix{
    display: none;
}
.menu-restaurant{
    width: 50%;
    float: left;
    padding: 20px;
    position: relative;
}

.menu-restaurant span.clearfix {
    position: relative;
    display: block;
}

/*Menu buttons*/

.gallery-trigger ul li a.active, .gallery-trigger ul li a:hover {
    background: #ffffff;
    color: #201d21;
    border: 1px solid transparent;
}
.gallery-trigger ul li {
    display: inline-block;
    color: #ffffff;
    text-transform: capitalize;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.gallery-trigger ul li a {
    padding: 10px 20px;
    font-size: 12px;
    color: #ffffff;
    border-radius: 0px;
    border: 1px solid #ffffff;
    text-decoration: none;
    cursor: pointer;
}

/*!
 * Datepicker for Bootstrap
 *
 * Copyright 2012 Stefan Petre
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 */
.datepicker {
  top: 0;
  left: 0;
  padding: 4px;
  margin-top: 1px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  }

}
.datepicker:before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 6px;
}
.datepicker:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -6px;
  left: 7px;
}
.datepicker > div {
  display: none;
}
.datepicker table {
  width: 100%;
  margin: 0;
}
.datepicker td,
.datepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td.day:hover {
  background: #eeeeee;
  cursor: pointer;
}
.datepicker td.day.disabled {
  color: #eeeeee;
}
.datepicker td.old,
.datepicker td.new {
  color: #999999;
}
.datepicker td.active,
.datepicker td.active:hover {
  color: #ffffff;
  background-color: #111111;
  background-image: -moz-linear-gradient(top, #111111, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#111111));
  background-image: -webkit-linear-gradient(top, #111111, #111111);
  background-image: -o-linear-gradient(top, #111111, #111111);
  background-image: linear-gradient(to bottom, #111111, #111111);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111111', endColorstr='#111111', GradientType=0);
  border-color: #111111 #111111 #111111;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #111111;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td.active:hover,
.datepicker td.active:hover:hover,
.datepicker td.active:focus,
.datepicker td.active:hover:focus,
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active,
.datepicker td.active.disabled,
.datepicker td.active:hover.disabled,
.datepicker td.active[disabled],
.datepicker td.active:hover[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td.active:active,
.datepicker td.active:hover:active,
.datepicker td.active.active,
.datepicker td.active:hover.active {
  background-color: #003399 \9;
}
.datepicker td span {
  display: block;
  width: 47px;
  height: 54px;
  line-height: 54px;
  float: left;
  margin: 2px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.datepicker td span:hover {
  background: #eeeeee;
}
.datepicker td span.active {
  color: #ffffff;
  background-color: #111111;
  background-image: -moz-linear-gradient(top, #111111, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#111111), to(#111111));
  background-image: -webkit-linear-gradient(top, #111111, #111111);
  background-image: -o-linear-gradient(top, #111111, #111111);
  background-image: linear-gradient(to bottom, #111111, #111111);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#111111', endColorstr='#111111', GradientType=0);
  border-color: #111111 #111111 #111111;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #111111;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.datepicker td span.active:hover,
.datepicker td span.active:focus,
.datepicker td span.active:active,
.datepicker td span.active.active,
.datepicker td span.active.disabled,
.datepicker td span.active[disabled] {
  color: #ffffff;
  background-color: #0044cc;
  *background-color: #003bb3;
}
.datepicker td span.active:active,
.datepicker td span.active.active {
  background-color: #003399 \9;
}
.datepicker td span.old {
  color: #999999;
}
.datepicker th.switch {
  width: 145px;
}
.datepicker th.next,
.datepicker th.prev {
  font-size: 21px;
}
.datepicker thead tr:first-child th {
  cursor: pointer;
}
.datepicker thead tr:first-child th:hover {
  background: #eeeeee;
}
.input-append.date .add-on i,
.input-prepend.date .add-on i {
  display: block;
  cursor: pointer;
  width: 16px;
  height: 16px;
} 
 
/* Navbar ----------- */
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }

  .navbar .navbar-collapse {
    text-align: center;
  }
}














